<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Student Management System</h1>
    <hr>
    <h2>Add New Student </h2>
    <form action="#" th:action="@{/addStudent}" th:object="${student}", method="post"></form>
    <!--the action is the method and the object is in the  controller class, and the inbuilt method is the POST-->
    <input type="text" th:field ="*{name}" placeholder="Student Name" class="form-control mb-4 col-4">
    <input type="text" th:field ="*{regnumber}" placeholder="Registration Number" class="form-control mb-4 col-4">
    <input type="text" th:field ="*{courseId}" placeholder="Course ID" class="form-control mb-4 col-4">
    <input type="text" th:field ="*{email}" placeholder="Student Email" class="form-control mb-4 col-4">

</div>

</body>
</html>