<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Management System</title>
    <!--<link rel="stylesheet" th:href="@{/webjars/boostrap/5.1.0/css/boostrap.min.css}"/>-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div align="center" class="container my-2">

    <H1>Students List</H1>
    <a th:href="@{/showNewStudentForm}" class="btn btn-primary mb-3">Add Student</a>
    <table border="1" class="table table-striped table-responsive-md">
        <thead>
        <tr>
            <th>Student_Name</th>
            <th>email</th>
            <th>registration number</th>
            <th>Course Id</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <!--here we are hiterating the list of employees from the controller
        #using the  thymeleaf th: each attribute-->
        <tr th:each="student: ${listStudents}">
            <!--/*@thymesVar id="name" type=""*/-->
            <td th:text="${student.name}"></td>
            <td th:text="${student.email}"></td>
            <td th:text="${student.regnumber}"></td>
            <td th:text="${student.courseId}"></td>
            <!--{id} means getting binding ID in thyme leaf-->
            <td> <a th:href="@{/showFormUpdate/{id}(id=${student.id})}" class="btn btn-primary">update</a>
                <a th:href="@{/deleteStudent/{id}(id=${student.id})}" class="btn btn-danger">delete</a>
            </td>
        </tr>

        </tbody>
    </table>

</div>

</body>
</html>